<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div class="about">
      <h1><span class="logo-text">Puja's </span> <span>Blog</span></h1>
      <p>
        Welcome to our blog, where we share insightful articles, tips, and stories to inspire and inform. From celebrating special occasions to providing practical advice and exploring thought-provoking topics, our goal is to create content that resonates with our readers. Thank you for joining our community!
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fa fa-phone fas"></i>
         91+ 8261854270
        </span>
        <span>
          <i class="fa fa-envelope fas"></i>
          <a href="pujalahane2023@gmail.com">
            puja@2023@gmail.com
          </a>
        </span>

      </div>
    
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/@poojalahane2584">
          <i class="fa fa-youtube fas"></i>
        </a>
        <a href="https://www.instagram.com/puja_08072002/">
          <i class="fa fa-instagram fas"></i>
        </a>
        <a href="https://www.linkedin.com/in/puja-lahane-aab204210/">
          <i class="fa fa-linkedin fas"></i>
        </a>
        <a href="https://github.com/poojalahane">
          <i class="fa fa-github fas"></i>
        </a>
       
  </footer>